header {
    width: 100%;
    height: 6.25%;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 1;
    background: linear-gradient(90deg, rgba(0, 237, 255, 0.20) 43.02%, rgba(0, 0, 0, 0.00) 73.72%), #A2B0EE;
}

.ellipse_1 {
    position: absolute;
    overflow: hidden;
    top: 15px;
    left: 5%;
    width: 53px;
    height: 53px;
    -ms-border-radius: 26.5px / 26.5px;
    -o-border-radius: 26.5px / 26.5px;
    -moz-border-radius: 26.5px / 26.5px;
    -webkit-border-radius: 26.5px / 26.5px;
    border-radius: 26.5px / 26.5px;
    background: rgba(168, 235, 240, 1);
}

.ellipse_2 {
    position: absolute;
    overflow: hidden;
    top: 15px;
    left: 87%;
    width: 60px;
    height: 60px;
    -ms-border-radius: 30px / 30px;
    -o-border-radius: 30px / 30px;
    -moz-border-radius: 30px / 30px;
    -webkit-border-radius: 30px / 30px;
    border-radius: 30px / 30px;
    background-color: #D9D9D9;
}


footer {
    width: 1900px;
    top: 100%;
    left: -10px;
    position: absolute;
    height: 228px;
    background: #E9E9E9;
    opacity: 0.99;
}